body {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
}

code {
  font-family: Arial, sans-serif;
}

.pantalla-dividida {
    display: flex;
    height: 85vh;
}

.panel-izquierdo {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
}

.divisor {
    width: 2px;
    background-color: black;
}

.panel-derecho {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
}